@{
    ViewBag.Title = "O Klubie";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <p>
        Z ustaleniem dokładnej daty powstania klubu sportowego „Świt” były duże trudności. W tamtym czasie nikt nie skupiał się na prowadzeniu kroniki, a wszelkie zapiski i notatki zginęły bezpowrotnie podczas wojny lub uległy zniszczeniu podczas licznych powodzi, jakie miały miejsce na terenie Nowego Dworu Mazowieckiego.

        Dzięki żyjącym świadkom tamtego okresu udało się ustalić, że klub sportowy „Świt” Nowy Dwór Mazowiecki powstał w 1933 roku, a jego założycielem i pierwszym prezesem był mieszkaniec Nowego Dworu Mazowieckiego – Włodzimierz Mierenkow. Jako pierwsza powstała sekcja piłki nożnej, a z uwagi na brak własnego boiska drużyna przystąpiła rozgrywek dopiero w 1935 roku i właśnie ten rok uznano za oficjalny początek działalności sportowej.

        Nowy Dwór Mazowiecki leży w widłach dwóch rzek – Wisły i Narwi, a ze względu na malowniczy krajobraz, jaki otacza miasto, klub zyskał nazwę „Świt”. Niezmiennie obowiązuje ona do dziś. Włodzimierz Mierenkow już 1933 roku opracował status przyszłego klubu. Ustalono w nim, że barwami klubu będą kolory zielony i biały. Został także opracowany herb klubu, który po wielu latach modyfikacji uzyskał ostateczny wygląd.
    </p>




</div>