@{
    ViewBag.Title = "Kontakt";
}

<div class="jumbotron">
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sportowa 66<br />
    05-100 Nowy Dwór Mazowiecki<br />
    <abbr title="Phone">Telefon:</abbr>
    22 775 41 42
</address>

<address>
    <strong>Klubowy e-mail:</strong>   <a href="mailto:switndm1@wp.pl">switndm1@wp.pl</a><br />
    <strong>Administrator:</strong> <a href="mailto:Marketing@example.com">switadmin@wp.pl</a>
</address>

</div>