
@{
    ViewBag.Title = "Bilety";
}



<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <center>
        <div><img src="~/Content/stadion.jpg" height="250" width="500"/></div>
    </center>
    <p>
        Najbliższe mecze:

        <table>
            <tr>
                <td>Przeciwnik</td>
                <td>Data</td>
                <td></td>
            </tr>
            <tr>
                <td>@ViewBag.Przeciwnicy</td>
                <td>@ViewBag.DataWyd</td>
                <td></td>
            </tr>




        </table>




    </p>
    
    
    
    
    
    
    
    
    









</div>