
@{
    ViewBag.Title = "Mecze";
}



<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>
        Najbliższe mecze:

        <table>
            <tr>
                <td>Przeciwnik</td>
                <td>Data</td>
            </tr>
            @foreach(var p in ViewBag.przec)
            {
            
            <tr>
                <td>@p.Przeciwnik</td>
                <td>@p.DataWyd</td>
                <td> <a href="/Home/Tickets/@p.IdWydarzenia"> <div class="btn btn-default"> BILETY </div></a></td>
            </tr>

            }




        </table>




    </p>
    
    
    
    
    
    
    
    
    









</div>