@{
    ViewBag.Title = "Do zobaczenia!";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <p>
        Bilet zakupiono pomyślnie!
        <a href="/Home/Index"> <div class="btn btn-default"> Strona główna </div></a>
    </p>




</div>